<ion-header>
  <ion-toolbar>
    <ion-title>Proximos Pacientes a Realizar la Encuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-grid class="ion-margin" >
    <ion-row>
      <ion-col>ID</ion-col>
      <ion-col>Nombre</ion-col>
      <ion-col>Correo</ion-col>
      <ion-col>Telefono</ion-col>

    </ion-row>
    <ion-row *ngFor="let u of users | async">
      <ion-col>{{ u.id }}</ion-col>
      <ion-col>{{ u.name }}</ion-col>
      <ion-col>{{ u.email }}</ion-col>
      <ion-col>{{ u.phone }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-button style="margin-bottom: 60px;" routerLink="/home">Regresar</ion-button>

</ion-content>
