<ion-content>
  <div class="padre">
    <h1 style="color: aliceblue;">Registrarse</h1>
    <div class="form">
      <div class="campos">
        <label>Ing correo</label> <br>
        <input type="text" [(ngModel)]='correo'>
      </div>
      <div class="campos">
        <label>Ing contraseña</label> <br>
        <input type="text" [(ngModel)]='pass'>
      </div>
      <button class="log" style="margin-bottom: 2%;" (click)="registrar()">REGISTRAR</button><br>
      <a href="/login" style="text-decoration: none; color: aliceblue">
        Iniciar Sesión
        </a>
      
    </div>
    <img style="margin-top: 2%;" src="../../../assets/images/logoLogin.svg" width="200">
  </div>
</ion-content>