.padre{
    background-image: url(../../../assets/images/login.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 2px;
    text-align: center;
}
.padre .form{
    width: 80%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    text-align: center;
}
.padre .form .campos{
    width: 100%;
    margin-bottom: 32px;
}
.padre .form .campos input{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid white;
    margin-top: 10px;
    color: black;
    width: 120px;
}
.padre .form button{
    padding: 9px;
    border-radius: 5px;
    background: rgb(76, 243, 131);
    transition: 0.5s;
}
.padre .form button:hover{
    box-shadow: 0 0 4px rgb(207, 207, 207), 0 0 10px white;
}
.padre .form img{
    margin-top: 80px;
}