<ion-header>
  <ion-toolbar>
    <ion-title>Pacientes Inscritos en Talleres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Cedula</ion-col>
      <ion-col>Nombre</ion-col>

    </ion-row>
    <ion-row *ngFor="let u of pacientes | async">
      <ion-col>{{ u.cedula }}</ion-col>
      <ion-col>{{ u.nombres }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-button  routerLink="/home">Regresar</ion-button>
</ion-content>
