<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="text-align: center;">
    <ion-item>
      <ion-label>Nombre: {{nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Descripcion: {{descripcion}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Precio: ${{precio}}</ion-label>
    </ion-item>
    <ion-button (click)="inscripcion(nombre)" >Inscribirse</ion-button>
    
    <ion-button (click)="cerrar()" >Cancelar</ion-button>
    
    

  </ion-list>

</ion-content>
