<ion-header>
  <ion-toolbar>
    <ion-title>detallesEvento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Titulo <span>{{ datos?.name }}</span></h1>

  <label>Precio: <h5>{{ datos?.cost }}</h5></label>
  <div class="invitados">
  <ul *ngFor="let u of invitados |async">
    <li>{{ u.nombreInvitado }}</li>
  </ul>
  </div>
  <label>
    Agregar invitado
    <input type="text" placeholder="Ingrese nombre" [(ngModel)]="nombre"> <br>
     Pagar <br>
    <input type="number" placeholder="Ingrese dinero" [(ngModel)]="dinero"> <br>
    <button (click)="agregar()">Agregar</button> <br>
  </label>
  <ion-label class="opcion" routerLink="/listo-evento">Volver al listado</ion-label> <br>
  <ion-label class="opcion" routerLink="/home">Menu inicio</ion-label>
</ion-content>