<ion-header>
  <ion-toolbar>
    <ion-title>taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>No.</ion-col>
      <ion-col>Nombre</ion-col>
      <ion-col>Hora</ion-col>
      <ion-col>Experto</ion-col>
      <ion-col>Detalles</ion-col>
    </ion-row>
    <ion-row *ngFor="let t of talleres | async; index as i">
      <ion-col>{{ i + 1 }}</ion-col>
      <ion-col>{{ t.nombre }}</ion-col>
      <ion-col>{{ t.hora }}</ion-col>
      <ion-col>{{ t.experto }}</ion-col>
      <ion-col> <ion-button (click)="inscripcion(t)" >Ver detalles</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button  routerLink="/home">Regresar</ion-button>

</ion-content>
