<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encuesta Estres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="ion-padding">
    <div class="preguntas">
      <p>Cedula:</p>
     <ion-select [(ngModel)]="nombre" placeholder="Escoja la cedula del paciente" >
        <ion-select-option *ngFor="let c of cedulas | async" [value]="c.cedula">{{c.cedula}}</ion-select-option>
     </ion-select>
     </div>
    <div class="preguntas">
     <p>Imposibilidad de conciliar el sueño</p>
     <ion-select [(ngModel)]="opciones[0]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
     </ion-select>
    </div>
    <div class="preguntas">
      <p>Jaquecas y dolores de cabeza</p>
      <ion-select [(ngModel)]="opciones[1]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Indigestiones o molestias gastrointestinales</p>
      <ion-select [(ngModel)]="opciones[2]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Sensacion de cansancio extremo o agotamiento</p>
      <ion-select [(ngModel)]="opciones[3]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Tendencia de comer, beber o fumar mas de lo habitual</p>
      <ion-select [(ngModel)]="opciones[4]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Disminución del interes sexual</p>
      <ion-select [(ngModel)]="opciones[5]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Respiracion entrecortada o sensación de ahogo</p>
      <ion-select [(ngModel)]="opciones[6]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Disminución del apetito</p>
      <ion-select [(ngModel)]="opciones[7]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Temblores musculares(por ejemplo tics nerviosos o parpadeos)</p>
      <ion-select [(ngModel)]="opciones[8]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Pinchazos o sensaciones dolorosas en distintas partes del cuerpo</p>
      <ion-select [(ngModel)]="opciones[9]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Tentaciones fuertes de no levantarse por la mañana</p>
      <ion-select [(ngModel)]="opciones[10]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <div class="preguntas">
      <p>Tendencias a sudar o palpitaciones</p>
      <ion-select [(ngModel)]="opciones[11]" placeholder="Escoja un numero segun la frecuencia con la que padece el sintoma(1=bajo/6= muy alto)" >
         <ion-select-option value="1">1</ion-select-option>
         <ion-select-option value="2">2</ion-select-option>
         <ion-select-option value="3">3</ion-select-option>
         <ion-select-option value="4">4</ion-select-option>
         <ion-select-option value="5">5</ion-select-option>
         <ion-select-option value="6">6</ion-select-option>
      </ion-select>
     </div>
     <br>
    <ion-button style="margin-bottom: 60px;" (click)="GuardarOpciones()">Enviar</ion-button>
    <ion-button style="margin-bottom: 60px;" routerLink="/home">Regresar</ion-button>
  </div>
</ion-content>
