<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <ion-list style="text-align: center;">

    <ion-item>
      <ion-input type="text" placeholder="Cedula" [(ngModel)]="cedula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Nombres" [(ngModel)]="nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text" placeholder="Apellidos" [(ngModel)]="apellido" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Edad" [(ngModel)]="edad" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Telefono" [(ngModel)]="telefono" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Direccion" [(ngModel)]="direccion" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Estado Civil" [(ngModel)]="civil" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Profesion" [(ngModel)]="profesion" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Estrato" [(ngModel)]="estrato">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Cargo" [(ngModel)]="cargo" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Horas Trabajadas por dia" [(ngModel)]="horas" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Cantidad de Alimentos al dia" [(ngModel)]="cantidad" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Ultimo Nivel de Estudio Alcanzado" [(ngModel)]="nivel" ></ion-input>
    </ion-item>

    <ion-button (click)="registrar()" >Registrarse</ion-button>

  </ion-list>
  <ion-button  routerLink="/home">Regresar</ion-button>

</ion-content>
