<ion-content>
  <div class="eventC">
    <div class="padre">
      <div>
        <ion-label position="stacked"> Nombre del evento</ion-label>
        <ion-input class="campos" [(ngModel)]="eventName" type="text" aria-placeholder="Cual es el nombre del evento?"> </ion-input>
      </div>

      <div>
        <ion-label position="stacked"> Precio</ion-label>
        <ion-input class="campos" [(ngModel)]="eventPrice" type="number" aria-placeholder="Cual es el precio del boleto?"> </ion-input>
      </div>
      <div>
        <ion-label position="stacked"> Costo</ion-label>
        <ion-input class="campos" [(ngModel)]="eventCost" type="number" aria-placeholder="Cual es el costo del evento?"> </ion-input>
      </div>
      <div>
        <ion-label position="stacked"> Fecha del evento</ion-label>
        <ion-datetime class="campos" [(ngModel)]="eventDate" displayFormat="DD, MMM,  YY" pickerFormat="DD MM YY" min="2021"
          max="2022-12-31"> </ion-datetime>
      </div>
      <ion-button expand="block" (click)="createEvent()"> Crear evento</ion-button>
   
        <ion-label class="opcion" routerLink="/home">Menu inicio</ion-label>

    </div>
  </div>
</ion-content>