.eventC{
    background: rgb(84, 229, 240);
    width: 100%;
    height: 100vh;
    padding: 2px;
}
.eventC .padre{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 130px;
}
.eventC .padre .campos{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}