<ion-header>
  <ion-toolbar>
    <ion-title>listoEvento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> <ion-label>Tus proximos eventos</ion-label></ion-list-header>
  
    <ion-item tappable *ngFor="let event of eventList" routerLink="/detalles-evento/{{event.id}}">
     <ion-label> 
          <h3>{{event?.name}}</h3>
          <p> Ticket:<strong> {{ event?.price}}</strong></p>
          <p> Date:<strong> {{ event?.date}} </strong></p>
    </ion-label> 
    </ion-item> 
  
   </ion-list>
     <ion-label class="opcion" routerLink="/home">Menu inicio</ion-label>
</ion-content>
