<ion-header>
  <ion-toolbar>
    <ion-title>Pacientes en Riesgo por Indice Alto de Estres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <ion-grid class="ion-margin">
  <ion-row>
    <ion-col>No.</ion-col>
    <ion-col>Cedula</ion-col>
    <ion-col>Nombre</ion-col>
    <ion-col>Indice</ion-col>
  </ion-row>
  <ion-row *ngFor="let u of users; index as i">
    <ion-col>{{ i + 1 }}</ion-col>
    <ion-col>{{ u.cedula }}</ion-col>
    <ion-col>{{ u.nombre }}</ion-col>
    <ion-col>{{ u.indice }}</ion-col>
  </ion-row>
</ion-grid>
<ion-button  routerLink="/home">Regresar</ion-button>

</ion-content>
