<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clinica del Estrés JANSEN   
    </ion-title>
  </ion-toolbar>
</ion-header>
   
<ion-content [fullscreen]="true" >
<ion-list>
   <ion-item routerLink="/registrar-paciente">
     <ion-label class="opcion" >Registrar Paciente</ion-label>
   </ion-item>   
   <ion-item routerLink="/listar-riesgo">
    <ion-label class="opcion" >Pacientes en Riesgo</ion-label>
  </ion-item>
  <ion-item routerLink="/listar-inscritos">
    <ion-label class="opcion" >Pacientes Inscritos</ion-label>
  </ion-item>
  <ion-item routerLink="/taller">
    <ion-label class="opcion" >Talleres</ion-label>
  </ion-item>
  <ion-item routerLink="/create-event">
    <ion-label class="opcion" >Crear evento</ion-label>
  </ion-item>
  <ion-item routerLink="/listo-evento">
    <ion-label class="opcion" >Listar eventos</ion-label>
  </ion-item>
  
</ion-list>

<button (click)="logout()">Logout</button>

</ion-content>
