<ion-header>
  <ion-toolbar>
    <ion-title>resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <p>Nombre:{{this.nombre}}</p>
    <p>Resultado:{{this.resultado}}</p> <br>

    Tu promedio es: {{ promedio }} % <br>
    Respuesta: {{ respuesta }} <br>
    Nota: {{ conse }}

  </div>
  <ion-button (click)="descargar()">Subir resultado</ion-button>
  <ion-button  routerLink="/home">Regresar</ion-button>
</ion-content>
